<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Reporting & Analytics</h2>
        <ol class="breadcrumb">
            <li class="active breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Reporting & Analytics</strong>
            </li>
        </ol>
    </div>
</div>
