@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*<div class="container">
    <div class="modal-header">
        <h4 class="modal-title">Sign In</h4>
    </div>
    <div class="modal-body">
        <form action="/Account/Login" method="post">
            <div class="form-group w-50">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                </div>
            </div>
            <div class="form-group w-50">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="text" class="form-control" name="password" placeholder="Password" required="required">
                </div>
            </div>
            <div class="form-group w-50">
                <button type="submit" class="btn btn-primary btn-block btn-lg">Sign In</button>
            </div>
            <p class="hint-text"><a href="#">Forgot Password?</a></p>
        </form>
    </div>


</div>*@

<div class="modal-dialog modal-login">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Sign In</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <form action="/Account/Login" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="text" class="form-control" name="password" placeholder="Password" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Sign In</button>
                </div>
                <p class="hint-text"><a href="#">Forgot Password?</a></p>
            </form>
        </div>
        <div class="modal-footer">Don't have an account? <a href="/Account/Register"> Create one</a></div>
    </div>
</div>

